<div class="wrapper-info">
  <div class="wrapper-title">
    <h3><a href="<%= wrapper["url"] %>" target="_blank"><%= wrapper["name"] %></a></h3>
  </div>
  <div class="wrapper-institutions">
      <span class="institution-type"><%= wrapper["institution_type"] %></span>
      <span class="institution-name"><%= wrapper["institution_name"] %></span>
  </div>
  <div class="wrapper-body">
    <%= wrapper["description"] %>
  </div>
  <div class="wrapper-experiences">
    <% wrapper['years_experience'].each_with_index do |experience, index| %>
      <% suffix = "" %>
      <% suffix = ", " if index != wrapper['years_experience'].size - 1 %>
      <span class="experience"><%= experience %><%= suffix %></span>
    <% end %>
  </div>
  <div class="wrapper-requirements">
    <a class="wrapper-requirements-label" href="javascript:void(0)">Requirements</a>
    <div class="wrapper-requirements-list">
      <%= wrapper["requirements"] %>
    </div>
  </div>
  <div class="wrapper-tags">
    <a class="wrapper-tags-label" href="javascript:void(0)">Tags</a>
    <div class="wrapper-tags-list">
      <table>
      <% wrapper["tags"].uniq.each_slice(3).each do |tag_row| %>
        <tr>
          <% tag_row.each do |tag| %>
            <td class="wrapper-tag">
              <%= tag %>
            </td>
          <% end %>
        </tr>
      <% end %>
      </table>
    </div>
  </div>
</div>
